@page{
    size: landscape;
}
:root{
    --dark: rgba(0, 0, 34, 0.86); 
    --dark-full: #002; 
    --light: #dff;
    --neon1-full: rgba(255, 251, 5, 1);
    --neon1: rgba(255, 251, 5, 0.466);
    --neon2-full: rgba(255, 147, 5, 1);
    --neon2: rgba(255, 147, 5, 0.466);
    --neon3-full: rgba(5, 255, 234, 1);
    --neon3: rgba(5, 255, 234, 0.466);
    --sm: 12px;
    --md: 24px;
    --lg: 40px;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100%;
    min-width: 100vw;
    background: var(--dark-full);
    color: var(--light);
    font-family: Arial, Helvetica, sans-serif;
    overflow-y: scroll;
}
body section{
    width: 100%;
    box-shadow: 0 3px 6px var(--neon3);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}
body section div{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 8px;
}
div.column{
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    height: 100%;
    /* background-color: #fff; */
}
.btn{
    font-weight: bold;
    border-radius: 5px;
    min-width: 40px;
    min-height: 20px;
    margin: 10px;
    cursor: pointer;
    text-align: center;
    transition: 0.06s all ease-in-out;
}
.btn:hover{
    background-color: gray;
    transform: scale(1.1);
}
.btn:active{
    background-color: black;
    border: 1px solid rgba(255,255,255,0.4);
    box-shadow: none;
    color: white;
    transform: scale(0.9);
}
.btn-padding{
    padding: 15px;
}
.btn-standard{
    padding: 8px;
    background-color: #aaf;
}
.btn-minimal{
    padding: 1px;
    font-size: 1rem;
    border: 1px solid var(--neon3);
}

/*Specific styles*/
/*Team Name, Sets Won*/
#teamInfo>div{
    max-width: 45vw;
    width: 50%;
    font-size: 1.5rem;
    position: relative;
}
#teamInfo>div>.setsWon{
    background-color: #fff;
    padding: 5px;
    color: var(--dark);
    font-weight: bold;
    border-radius: 3px;
}
.setTeamController{
    position: relative;
    padding: 0;
    text-align: center;
}

/*Set Score Points*/
#score{
    min-height: 30vh;
}
#score .scoreController .btn{
    background-color: var(--dark-full);
    border-top: 1px solid var(--neon3);
    border-right: 1px solid var(--neon3);
    font-size: 20px;
    color: var(--light);
    box-shadow: -2px 2px 10px var(--neon3-full);
}
#score .teamScorePoints{
    width: 40%;
    justify-content: space-evenly;
}
#score .teamScorePoints .serviceContainer{
    width: 10%;
    border-radius: 50%;
    border: 1px solid var(--neon3-full);
    position: relative;
    cursor: pointer;
}
#score .teamScorePoints .serviceContainer p{
    position: absolute;
    bottom: 130%;
    display: none;
}
#score .teamScorePoints .serviceContainer.service p{
    display: block;
}
#score .teamScorePoints .serviceContainer svg{
    fill: var(--neon3);
    opacity: 0.6;
    width: 100%;
    height: auto;
}
#score .teamScorePoints .serviceContainer.service svg{
    fill: white;
    opacity: 1;
}
#score .teamScorePoints .scoreMark{
    width: 50%;
    height: 100%;
    font-size: 5rem;
    color: var(--dark);
    text-shadow: 0px 1px 6px var(--neon3-full);
    box-shadow: inset 0 0 16px var(--neon3);
    border: 1px solid var(--neon3-full);
    border-radius: 10px;
    padding: 15px;
}

/* Teams Section (rotation, timeout, faults)*/
#teamsManagement{
    height: 25vh;
    justify-content: space-evenly;
    padding: 10px;
}
#teamsManagement>.manageTeam{
    width: 45%;
    height: 100%;
    justify-content: space-evenly;
}
#teamsManagement>.manageTeam .check{
    width: 4vh;
    height: 4vh;
    min-width: 25px;
    min-height: 25px;
}
#teamsManagement>.manageTeam>.teamPosition{
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    width: 25vh;
    padding: 0;
    position: relative;
}
#teamsManagement>.manageTeam>.teamPosition>div{
    width: calc(100%/2);
    height: calc(100%/3);
    margin: 0;
    position: absolute;
    border: 1px solid var(--light);
    cursor: pointer;
}

#teamsManagement>.manageTeam>.teamPosition>div:hover{
    background-color: var(--neon2);
}

#A1{left: 0; bottom: 0;}
#A2{right: 0; bottom: 0;}
#A3{right: 0; top: calc(100%/3);}
#A4{right: 0; top: 0;}
#A5{left: 0; top: 0;}
#A6{left: 0; top: calc(100%/3);}

#B4{left: 0; bottom: 0;}
#B5{right: 0; bottom: 0;}
#B6{right: 0; top: calc(100%/3);}
#B1{right: 0; top: 0;}
#B2{left: 0; top: 0;}
#B3{left: 0; top: calc(100%/3);}

#teamsManagement>.manageTeam>.teamPosition>.malla{
    position: absolute;
    height: 100%;
    width: 10%;
    background-color: lightgray;
}
#teamsManagement>.manageTeam>.teamPosition>.mallaA{left: 100%;}
#teamsManagement>.manageTeam>.teamPosition>.mallaB{right: 100%;}
#teamsManagement>.manageTeam>.timeOuts{
    height: 50%;
}

/*Modal*/
#modal{
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100vh;
    padding: 5vh;
    background-color: var(--dark);
    justify-content: center;
    align-items: center;
    display: none;
}
#modal>#modalContent{
    position: relative;
    background-color: var(--dark-full);
    width: 80vw;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5%;
    border-radius: 15px;
    border: 1px solid var(--neon3-full);
}
#modalContent>form{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    width: 100%;
    height: 100%;
}
#modalContent>form>label{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 5vh;
    border-radius: 14px;
    border: 1px solid var(--neon3);
    cursor: pointer;
}
#modal>#closeModal{
    position: absolute;
    right: 5%;
    top: 5%;
}

@media (max-height:700px) {
    #teamInfo{
        height: 12vh;
    }
    #teamInfo>div{
        height: 100%;
        flex-direction: row-reverse;
    }
    #teamInfo .teamName{
        font-size: var(--md);
    }
    #teamInfo .setsWon{
        height: 70%;
        font-size: var(--md);
    }
    #teamInfo .setTeamController{
        flex-direction: row;
        justify-content: space-evenly;
    }
    #teamInfo .setTeamController:last-child{
        flex-direction: row-reverse;
    }
    #teamInfo >div .setTeamController .btn{
        margin: 0 4px;
        padding: 16px;
        height: 40%;
    }
    #teamInfo #changeSide{
        height: 100%;
        font-size: var(--sm);
    }
    #score{
        max-height: 10vh;
    }
}