@page{
    size: landscape;
}
:root{
    --dark: rgba(0, 0, 34, 0.86); 
    --dark-full: #002; 
    --light: #dff;
    --neon1-full: rgba(255, 251, 5, 1);
    --neon1: rgba(255, 251, 5, 0.466);
    --neon2-full: rgba(255, 147, 5, 1);
    --neon2: rgba(255, 147, 5, 0.466);
    --neon3-full: rgba(5, 255, 234, 1);
    --neon3: rgba(5, 255, 234, 0.466);
    --sm: 12px;
    --md: 24px;
    --lg: 40px;
    --btn: #aaf;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
  width: 100vw;
  height: 100vh;
  position: relative;
  background: var(--dark-full);
  color: var(--light);
  font-family: Arial, Helvetica, sans-serif;
  overflow-y: hidden;
}

.volley-mark {
  padding: 0.5rem 1rem;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  width: 100vw;
  height: 100vh;
  margin-bottom: 1vw;
}

.team-side {
  width: 45%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 3vw;
}

.name-set-row {
  width: 100%;
  height: 6vw;
  padding: 0 0.5rem;
  display: flex;
  justify-content: flex-end;
  gap: 4vw;
  align-items: center;
  font-size: 3vw;
}
.team-name {
  font-size: 2vw;
}

.team-set-controller {
  display: flex;
  justify-content: space-between;
  gap: 1vw;
  align-items: center;
  height: 100%;
}
.reverse > .team-set-controller {
  flex-direction: row-reverse;
}
.sets-won-card {
  height: 80%;
  width: 6vw;
  border-radius: 1vw;
  border: 1px solid var(--neon2-full);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s ease-in-out all;
}
.sets-won-card:active {
  background-color: var(--neon2-full);
  scale: 1.8;
}
.sets-team-handler {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sets-btn {
  font-size: 4vw;
  padding: 0 2vw;
  border-radius: 0.4rem;
  border: 1px solid var(--neon3);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.2s ease-in-out all;
}
.sets-btn:active {
  background-color: var(--neon3);
  scale: 1.2;
}

.score-controller {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 24vw;
}
.score-mark {
  width: 30vw;
  height: 100%;
  border-radius: 0.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0.5rem 0.5rem 1rem var(--neon3);
  border: 2px solid var(--neon3-full);
  transition: 0.2s ease-out all;
}
.score-mark:active {
  background-color: var(--light);
  color: var(--dark);
  scale: 1.2;
}
.score-mark > div {
  width: 100%;
  font-size: 20vw;
  font-family: 'Archivo Black';
  text-align: center;
  width: 100%;
  display: flex;
  justify-content: center;
}
.service-indicator {
  width: 100%;
  text-align: center;
  color: var(--neon3);
}
.service-indicator.to-serve {
  color: var(--neon2-full);
}
.service-decrement-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.service-ball > svg {
  width: 5vw;
  height: 5vw;
  border-radius: 50%;
  background-color: var(--neon3);
  box-shadow: 0rem 0rem 1rem var(--neon3-full);
  transition: 0.2s ease-out all;
}
.service-ball.to-serve > svg{
  fill: var(--neon2-full);
}
.score-decrement {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4vw;
  width: 5vw;
  height: 7vw;
  text-align: center;
  border-radius: 0.4rem;
  border: 3px solid var(--neon2-full);
  transition: 0.1s ease-out;
}
.score-decrement:active {
  scale: 1.2;
  background-color: var(--neon2-full);
}

.timer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40vw;
  height: 40vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4vw;
  font-size: 10vw;
  font-weight: bold;
  text-align: center;
  background-color: var(--dark);
  color: var(--light);
  border-radius: 50%;
  z-index: 50;
}
.timer::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border-top: 0.3vw solid var(--neon2-full);
  animation: rotate 1s linear infinite;
  z-index: -1;
}
.timer button:active {
  background-color: var(--neon3);
  scale: 1.1;
}
@keyframes rotate {
  0%{
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(90deg); 
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(270deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.team-manager {
  width: 40vw;
  height: 100%;
  padding: 0 0 1.5vw;
  display: flex;
  gap: 3vw;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: var(--dark-full);
  transition: 0.2s ease-in-out all;
  overflow: hidden;
}
.rotation-manager {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 2vw;
}
.rotation-manager .rotation-container {
  width: 100%;
  height: 30vw;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2vw;
  transition: 0.2s ease-in-out all;
}
.team-manager .rotation-container .rotation-list {
  min-width: 25vw;
  min-height: 25vw;
  border: 1px solid var(--neon3-full);
  font-size: 3vw;
  list-style: none;
  padding: 0;
  position: relative;
  transition: 0.2s ease-in-out all;
}
.rotation-container .rotation-btn_container {
  height: fit-content;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.left .rotation-container {
  flex-direction: row-reverse;
}
.team-manager .rotation-container .rotation-btn_container > button {
  width: 6vw;
  height: 6vw;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.2s ease-in-out all;
}
.team-manager .rotation-container .rotation-btn_container > button:active {  
  scale: 1.1;
  background-color: var(--neon3);
}
.rotation-btn_container button svg {
  width: 3vw;
  height: 3vw;
  fill: var(--neon2-full);
  stroke: var(--neon2-full);
}

.rotation-btn_container button.rotate-forward > svg {
  transform: rotateY(180deg);
}
.rotation-container .rotation-list > li.rotation-item {
  height: 7vw;
  width: 7vw;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.1s ease-in-out all;
  border: 1px solid var(--neon2-full);
  position: absolute;
}
.rotation-item.p1.right, .rotation-item.p4.left {right: 2vw; top: 1vw;}
.rotation-item.p2.right, .rotation-item.p5.left {left: 2vw; top: 1vw;}
.rotation-item.p3.right, .rotation-item.p6.left {top: calc(100%/2 - 3.5vw); left: 2vw;}
.rotation-item.p4.right, .rotation-item.p1.left {left: 2vw; bottom: 1vw;}
.rotation-item.p5.right, .rotation-item.p2.left {right: 2vw; bottom: 1vw;}
.rotation-item.p6.right, .rotation-item.p3.left {top: calc(100%/2 - 3.5vw); right: 2vw;}
.rotation-manager > .edit-rotation {
  width: 100%;
  height: 100%;
  font-size: 3vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.edit-rotation .rotation-list {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2vw;
  font-size: 0.8rem;
  list-style: none;
}
.edit-rotation .rotation-list > li {
  min-width: 5vw;
  height: 6vw;
  font-size: 0.8rem;
  padding: 0.2rem 0.4rem;
  border: 1px solid var(--neon3-full);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.2s ease-in-out all;
}
.edit-rotation .rotation-list li.editing {
  background-color: var(--light);
  color: var(--dark);
}
.edit-rotation-btns {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.edit-rotation-btns .position-handler-btn {
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.2s ease-in-out all;
}
.timeouts-container {
  width: 100%;
  height: 5vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 2vw;
}
.team-manager.left .timeouts-container {
  flex-direction: row-reverse;
}
.team-manager .timeouts-container > button:active {
  background-color: var(--neon3);
  scale: 1.2;
}

.team-manager-controls {
  display: flex;
  width: 100%;
  gap: 1vw;
}
.team-manager-controls button {
  color: var(--neon2-full);
  padding: 0 2vw;
}
.team-manager-controls button svg {
  fill: var(--neon2-full);
  stroke: var(--neon2-full);
  width: 3vw;
  height: 3vw;
}

.substitutions-container {
  width: 100%;
  height: 5vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 2vw;
}
.team-manager.left .substitutions-container {
  flex-direction: row-reverse;
}
.team-manager .substitutions-container > button:active {
  background-color: var(--neon3);
  scale: 1.2;
}

.toolbar {
  position: fixed;
  height: 100vh;
  top: 100%;
  left: 50%;
  transform: translateX(-50%) translateY(-10vh);
  width: 100vw;
  background-color: var(--dark-full);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 1vw;
  z-index: 10;
  transition: 0.3s ease-out transform;
}
.toolbar.open {
  transform: translateX(-50%) translateY(-100vh);
}
.toolbar .toggle-btn {
  width: 100vw;
  height: 10vh;
  border-radius: 0.4rem 0.4rem 0 0;
  border: 1px solid var(--neon3);
  border-bottom: 1px dashed var(--neon3-full);
  background-color: transparent;
  color: var(--neon2-full);
  font-size: 3vw;
  cursor: pointer;
  transition: 0.1s ease-in all;
}
.toolbar-content {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0 2vw;
  overflow: hidden;
}
.toolbar-list {
  padding: 4vw 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 3vw;
  width: 6vw;
  height: 100%;
}
.toolbar-list > .toolbar-item {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 6vw;
  height: 6vw;
  cursor: pointer;
  transition: 0.2s ease-in-out all;
}
.toolbar-item > button {
  width: 100%;
  height: 100%;
  padding: 1vw;
  border-radius: 0.5rem;
  border: 1px solid var(--neon3-full);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.2s ease-in-out all;
}
.toolbar-item > button:active {
  background-color: var(--neon3);
  scale: 1.2;
}
.toolbar-item > button > svg {
  width: 100%;
  height: 100%;
  fill: var(--neon2-full);
  stroke: var(--neon2-full);
}

.match-settings-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90vw;
  height: 90vh;
  max-height: var(--visual-viewport-height, 90vh);
  background-color: var(--dark-full);
  border: 2px solid var(--neon2-full);
  border-radius: 1vw;
  box-shadow: 0rem 0rem 2rem var(--neon2-full);
  padding: 2vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  z-index: 1000;
}
.match-settings-modal .modal-settings-header {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.match-settings-modal .close-button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 2vw;
  cursor: pointer;
  transition: 0.2s ease-in-out all;
}
.match-settings-modal .settings-view-tabs {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 0.5vw;
  width: 100%;
}
.match-settings-modal .modal-settings-header button {
  position: relative;
  top: 2px;
  padding: 0.5vw 1vw;
  border: 1px solid var(--neon2-full);
  border-bottom: 2px solid transparent;
  background-color: transparent;
  color: var(--neon2-full);
  font-size: 1.5vw;
  cursor: pointer;
  transition: 0.2s ease-in-out all;
  border-bottom: none;
}
.match-settings-modal .modal-settings-header button.active {
  border-color:  var(--neon3-full);
  color: var(--light);
  border-bottom: 2px solid var(--dark-full);
}
.match-settings-modal .inner-view {
  width: 100%;
  flex: 1;
  min-height: 0;
  overflow-y: auto;
  border: 1px solid var(--neon3-full);
  padding: 2vw;
}
.settings-form-container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4vh;
}
.deuce-settings {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  gap: 2vw;
  width: 100%;
}
.deuce-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1vw;
}
.deuce-item > label {
  font-size: var(--sm);
}
.modal-actions {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 2vw;
}
.admin-teams-view > h2 {
  font-size: 1.5rem;
  color: var(--light);
  border-bottom: 1px solid var(--neon2-full);
}
.admin-teams-view .teams-list{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 1vw;
}
.admin-teams-view .team-row {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  border-bottom: 1px solid var(--neon3-full);
}
.admin-teams-view .team-row .team-controllers {
  font-size: 1.2rem;
  color: var(--light);
  cursor: pointer;
  transition: 0.2s ease-in-out all;
  border: 1px solid var(--neon3-full);
  border-radius: 0.4rem;
}
.admin-teams-view .team-row .team-controllers button {
  background: transparent;
  border: none;
  border-left: 1px solid var(--neon3-full);
  border-radius: 0;
  padding: 0.2rem 0.5rem;
  color: var(--neon2-full);
  transition: 0.2s ease-in-out all;
}
.admin-teams-view .team-row .team-controllers button:first-child {
  border-left: none;
}
.admin-teams-view .edit-team, .admin-teams-view .detail-team {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 2vw;
}

.admin-teams-view .add-team-button {
  background-color: var(--neon3);
  color: var(--light);
  margin-top: 2vw;
}

button {
  padding: 0 3vw;
  height: 6vw;
  border-radius: 1vh;
  border: 1px solid var(--neon3-full);
  font-size: calc(var(--sm) *  1.5);
  color: var(--light);
  background: transparent;
  transition: 0.2s ease-in-out all;
}
button.secondary:active {
  background-color: var(--light);
  color: var(--dark);
}
button.secondary {
  background-color: transparent;
  color: var(--neon2-full);
  border: 1px dashed var(--neon2-full);
}

input {
  padding: 1vw 1vw;
  min-height: 2.5rem;
  border-radius: 0.4rem;
  border: 1px solid var(--neon2-full);
  width: 100%;
}


.reverse {
  flex-direction: row-reverse;
}


@media landscape and (max-width: 1920px) {
  body {
    width: 100vw;
    height: 100vh;
  }
}
@media portrait and (max-width: 1920px) {
  body {
    width: 100vw;
    height: 100vh;
  }
}