@page{
    size: landscape;
}
:root{
    --dark: rgba(0, 0, 34, 0.86); 
    --dark-full: #002; 
    --light: #dff;
    --neon1-full: rgba(255, 251, 5, 1);
    --neon1: rgba(255, 251, 5, 0.466);
    --neon2-full: rgba(255, 147, 5, 1);
    --neon2: rgba(255, 147, 5, 0.466);
    --neon3-full: rgba(5, 255, 234, 1);
    --neon3: rgba(5, 255, 234, 0.466);
    --sm: 12px;
    --md: 24px;
    --lg: 40px;
    --btn: #aaf;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100%;
    width: 100%;
    background: var(--dark-full);
    color: var(--light);
    font-family: Arial, Helvetica, sans-serif;
    overflow-y: scroll;
}


.volley-mark {
  padding: 0.5rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  height: 100%;
}

.team-side {
  width: 45%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 5vh;
}

.name-set-row {
  width: 100%;
  height: 15vh;
  padding: 0 0.5rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 3vw;
}
.team-name {
  font-size: 4vw;
}

.team-set-controller {
  display: flex;
  justify-content: space-between;
  gap: 2vw;
  align-items: center;
  height: 100%;
}
.reverse > .team-set-controller {
  flex-direction: row-reverse;
}
.sets-won-card {
  height: 100%;
  width: 6vw;
  border-radius: 1vw;
  border: 1px solid var(--neon2-full);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sets-team-handler {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.sets-btn {
  font-size: 3vw;
  padding: 0.5rem 1rem;
  border-radius: 0.4rem;
  border: 1px solid var(--neon3);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.1s ease-in-out all;
}
.sets-btn:active {
  background-color: var(--neon3);
}

.score-controller {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 45vh;
}
.score-mark {
  width: 30vw;
  height: 100%;
  border-radius: 0.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0.5rem 0.5rem 1rem var(--neon3);
  border: 2px solid var(--neon3-full);
  transition: 0.2s ease-out all;
}
.score-mark:active {
  background-color: var(--light);
  color: var(--dark);
}
.score-mark > div {
  width: 100%;
  font-size: 20vw;
  font-family: 'Archivo Black';
  text-align: center;
  width: 100%;
  display: flex;
  justify-content: center;
}
.service-decrement-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.service-ball {
  width: 5vw;
  height: 5vw;
  border-radius: 50%;
  background-color: var(--neon3);
  box-shadow: 0rem 0rem 1rem var(--neon3-full);
  transition: 0.2s ease-out all;
}
.service-ball.to-serve {
  fill: var(--neon2-full);
}
.score-decrement {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4vw;
  width: 5vw;
  height: 7vw;
  text-align: center;
  border-radius: 0.4rem;
  border: 3px solid var(--neon2-full);
  transition: 0.1s ease-out;
}
.score-decrement:active {
  background-color: var(--neon2-full);
}

.team-rotation {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2vh;
}
.team-rotation > .rotation-list {
  width: 10vw;
  height: 10vw;
  border: 1px solid var(--neon3-full);
  font-size: 2vw;  
}
.rotation-list {
  list-style: none;
  padding: 0;
  margin: 0;
  position: relative;
  width: 100%;
  height: 100%;
}
.rotation-list > li.rotation-item {
  height: calc(100%/3);
  width: calc(100%/2);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.1s ease-in-out all;
  border: 1px solid var(--neon3-full);
  position: absolute;
}
.rotation-item::before, .rotation-item::after{
  position: absolute;
  top: 20%;
  width: 50%;
  height: 50%;
  color: var(--neon3);
}
.rotation-item.L1{left: 0; bottom: 0;}
.rotation-item.L1::before{content: "1";}
.rotation-item.L2{right: 0; bottom: 0;}
.rotation-item.L2::after{content: "2";}
.rotation-item.L3{right: 0; top: calc(100%/3);}
.rotation-item.L3::after{content: "3";}
.rotation-item.L4{right: 0; top: 0;}
.rotation-item.L4::after{content: "4";}
.rotation-item.L5{left: 0; top: 0;}
.rotation-item.L5::before{content: "5";}
.rotation-item.L6{left: 0; top: calc(100%/3);}
.rotation-item.L6::before{content: "6";}

.rotation-item.R4{left: 0; bottom: 0;}
.rotation-item.R4::before{content: "4";}
.rotation-item.R5{right: 0; bottom: 0;}
.rotation-item.R5::after{content: "5";}
.rotation-item.R6{right: 0; top: calc(100%/3);}
.rotation-item.R6::after{content: "6";}
.rotation-item.R1{right: 0; top: 0;}
.rotation-item.R1::after{content: "1";}
.rotation-item.R2{left: 0; top: 0;}
.rotation-item.R2::before{content: "2";}
.rotation-item.R3{left: 0; top: calc(100%/3);}
.rotation-item.R3::before{content: "3";}

.rotation-item::after {
  left: 110%;
}
.rotation-item::before {
  right: 90%;
}

button {
  padding: 1vh 1vw;
  border-radius: 1vh;
  font-size: var(--md);
  background-color: var(--btn);
  transition: 0.1s ease-in-out all;
}
button:active {
  background-color: var(--light);
}

input {
  padding: 1vh 1vw;
  font-size: var(--lg);
  min-height: 2.5rem;
  border-radius: 0.4rem;
  border: 1px solid var(--neon2-full);
  width: 100%;
}

.reverse {
  flex-direction: row-reverse;
}